* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

button {
  border: none;
  background: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  border-radius: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1512px;
  margin: 0 auto;
  padding: 25px 25px;
}

.wall {
  width: 1512px;
  margin: 0 auto;
  padding: 25px 25px;
}
